body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Raleway", Arial, sans-serif;
  color: #444;
}

h1 {
  font-size: 1.5em;
  color: #999;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
}

h3 {
  font-size: 1em;
}

section.landing {
  padding: 50px;
  width: 3000px;
}
.draft {
  width: 300px;
  display: inline-block;
  border: 1px solid #aaa;
  vertical-align: top;
  margin: 15px;
}

img {
  width: 100%;
}
