body {
  margin: 0;
}

.page {
  width: 1200px;
  margin: auto;
  position: relative;
}

.page img {
  width: 100%;
}

.hotspot {
  position: absolute;
  display: block;
}

body:active .hotspot {
  background-color: rgba(175, 197, 255, 0.25);
}

.totop {
  bottom: 0;
  left: 0;
  width: 130px;
  height: 50px;
}

.logo {
  top: 20px;
  left: 40px;
  width: 300px;
  height: 100px;
  margin: auto;
}

.search {
  top: 50px;
  right: 170px;
  width: 300px;
  height: 50px;
  margin: auto;
}

.type {
  bottom: 200px;
  left: 60px;
  width: 1100px;
  height: 300px;
  margin: auto;
}

.bikebox {
  top: 200px;
  left: 425px;
  width: 375px;
  height: 375px;
  margin: auto;
}

.filter {
  top: 250px;
  left: 25px;
  width: 225px;
  height: 1500px;
  margin: auto;
}

.bikechoice {
  top: 250px;
  left: 605px;
  width: 264px;
  height: 320px;
  margin: auto;
}

.sort {
  top: 204px;
  right: 70px;
  width: 140px;
  height: 85px;
  margin: auto;
}

.save {
  top: 570px;
  left: 459px;
  width: 120px;
  height: 50px;
  margin: auto;
}

.cart {
  top: 572px;
  right: 385px;
  width: 168px;
  height: 40px;
  margin: auto;
}
