body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans Condensed", Arial, sans-serif;
}

/* font stuff */
h1 {
  margin: 0;
  padding: 0;
  letter-spacing: 0.6em;
  font-size: 4em;
}

h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 1.1em;
}

h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 3.5em;
}

/* general settings */
div {
  box-sizing: border-box;
  width: 300px;
  padding: 25px;
  margin: auto;
}

section {
  /* width: 100%; */
  padding: 50px;
  position: relative;
}

div.pill {
  border-radius: 100px;
  border: 4px solid #000;
  text-align: center;
  margin: 40px auto;
}

section#pink-grad-1 div.pill {
  border-radius: 100px;
  border: 4px solid #fff;
  background-color: #fff;

  text-align: center;
  margin: 40px auto;
}

div.text {
  border-radius: 20px;
  padding: 30px;
  border: 4px solid #000;
  margin: 40px auto;
}

section#pink-grad-1 div.text {
  border-radius: 20px;
  padding: 30px;
  border: 4px solid #fff;
  color: #fff;
  text-align: center;
  margin: 40px auto;
}

a.button {
  display: block;
  box-sizing: border-box;
  height: 65px;
  width: 300px;
  padding: 15px;
  border-radius: 100px;
  border: 4px solid #FF424C;
  background-color: #FF424C;
  color: #fff;
  text-align: center;
  margin: 40px auto;
  text-decoration: none;
}

input {
  font-size: 1.3em;
  color: #000;
  font-family: "IBM Plex Sans Condensed", Arial, sans-serif;

}

a.button:hover {
  border: 4px solid #000;
  background-color: #000;
  color: #fff;
}

input {
  display: block;
  box-sizing: border-box;
  width: 300px;
  padding: 25px;
  margin: auto;
  margin-bottom: 25px;
  border-style: none;
  border-bottom: 3px solid #000;
}

/* div.form {
  border-bottom: 3px solid #000;
  margin-bottom: 100px;
} */

/* id settings */
section.green {
  background-color: #00C698;
  color: #fff;
}

section.pink {
  background-color: #FF424C;
  color: #fff;
}

section#pink-grad-1 {
  background: linear-gradient(#5F2CBD, #00C698);
}

div#pill-1 {
  position: relative;
}
